{% extends "layout.html" %}
{% block content %}
    {% for book in books.items %}
        <article class="media content-section">
          <img class="article-img" src="{{ url_for('static', filename='cover_images/' + book.cover) }}" alt="{{ book.cover }}">
          <div class="media-body">
            <a class="mr-2" href="{{ url_for('books_by_author', author=book.author) }}">{{ book.author }}</a>
            <h2><a class="article-title" href="{{ url_for('view_book', book_id=book.id) }}">{{ book.title }}</a></h2>
            {% if book.sub_title %}
                <h4 class="article-subtitle">{{ book.sub_title }}</h4>
            {% endif %}
            <p class="article-publisher">Publisher: {{ book.publisher }}
              {% if book.publication_date %}
                <small class="article-publication-date text-muted pl-3">Publication date: {{ book.publication_date.strftime('%Y-%m-%d') }}</small>
              {% endif %}
            </p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in books.iter_pages(left_edge=2, right_edge=2, left_current=3, right_current=4) %}
        {% if page_num %}
          {% if books.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('books_by_author', author=author, page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('books_by_author', author=author, page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
    {% endfor %}
{% endblock content %}